.edit-delete{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
.AllComments{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
   

    .comment-details{
        display: flex;
        align-items: center;
    
    .name-and-comment{
            display: flex;
            flex-direction: column;
    .commentsName{
        margin-left: 10px;
        font-weight: 550;
    }
    .comment{
        margin-left: 10px;
    }
}
}
}