
.sideNavbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    width: 20%;
    margin-top: 50px;


    .more-icon{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .side-bar-routes{
        display: flex;
    flex-direction: column;
    align-items: center;
    
    #active-btn-primary3{
        background-color: #efefef;
        color: black;
        font-size: 1.2em;
        
    }
    #active-btn-primary1{
        background-color: white;
        color: black;
        font-size: 1.2em;
        padding: 10px 17px 10px 10px;
        
    }
    #active-btn-primary2    {
        background-color: white;
        font-size: 1.2em;
        color: black;
    }
    #active-btn-primary2:hover {
        background-color: #efefef;
        font-size: 1.2em;
        color: black;
    }
    #active-btn-primary1:hover {
        background-color: #efefef;
        font-size: 1.2em;
        color: black;
        
    }
 
    .btn-primary1{
        border: none;
        outline: none;
        background-color: var(--button-color);
        color: #ffffff;
        display: flex;
        align-items: center;
        // box-shadow: 1px 2px 7px gray;
        border-radius: 30px;
        padding: 10px 28px 10px 10px;
       }
   .btn-primary2{
    border: none;
    outline: none;
    background-color: var(--button-color);
    color: #ffffff;
    display: flex;
    align-items: center;
    // flex-direction: co;
    // box-shadow: 1px 2px 7px gray;
    border-radius: 30px;
    padding: 10px 47px 10px 10px;
    margin-bottom: 10px;

   }
   
   .btn-primary3{
    border: none;
    outline: none;
    background-color: #ee7837;
    color: black;
    display: flex;
    align-items: center;
    // box-shadow: 1px 2px 7px gray;
    border-radius: 30px;
    padding: 10px 47px 10px 10px;
    margin-bottom: 10px;
   }
   
   
   .btn-primary2:hover{
    background-color: #ee7837;
    color: black;
   }
   .btn-primary1:hover{
    background-color: #ee7837;
    color: black;
   }
}
    
 }