*{
    margin: 0;
    padding: 0;
}
.Follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .user-info{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .follow-link{
        color: blueviolet;
    }
    .btn-secondary{
        padding: 8px 16px;
    }
    
}