*{
    margin: 0;
    padding: 0;
}
.Follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .user-info{
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
    }

    .follow-link{
        color: blueviolet;
    }
    
    .btn-primary1{
        border: none;
    outline: none;
    background-color: #fbf768;
    color: black;
    // box-shadow: 1px 2px 7px gray;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    }
    .btn-primary1:hover{
        background-color: #fbf768;
        color: black;
    }
}