
.logOut-button{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
.big-Feed{
    overflow-y: hidden;
    height: calc(100vh - 60px);
    display: flex;
    background-color: black;
    margin-top: 60px;
    
 }
.Feed{
    display:flex;
    
    
    .container{
        display: flex;
        gap: 20px;
        max-width: 960px;
        // margin-inl   ine: auto;
        // flex: 2;
        // background-color: green;
    }
    .left-part{
        overflow-y: scroll;
        flex: 2;
        width: 50%;

        // width: 900px;
        // background-color: blue;
   
    }
    .left-part::-webkit-scrollbar {
   display: none;
}
    .right-part{
        flex: 1;
        margin-top: 20px;
        // background-colo  r: yellow;
        
    }

    .Suggestions{
        margin-left: 40px;

    }

    .title{
        margin-bottom: 12px;
        color: #fff;
    }
}
    
