*{
    margin: 0;
    padding: 0;
}
.Profile{
margin-top: 60px;
background-color: black;
display: flex;

.sideNavbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    width: 15%;
    margin-top: 50px;


     .side-bar-routes{
        display: flex;
        flex-direction: column;
        align-items: center;
     
     
    .btn-primary1{
     border: none;
     outline: none;
     background-color: var(--button-color);
     color: #ffffff;
     display: flex;
     align-items: center;
     // box-shadow: 1px 2px 7px gray;
     border-radius: 30px;
     padding: 10px 40px 10px 10px;
    }
    .btn-primary2{
     border: none;
     outline: none;
     background-color: #ee7837;
     color: black;
     display: flex;
     align-items: center;
     // box-shadow: 1px 2px 7px gray;
     border-radius: 30px;
     padding: 10px 47px 10px 10px;
     margin-bottom: 10px
     ;
    }
    
    .btn-primary3{
     border: none;
     outline: none;
     background-color: var(--button-color);
     color: #ffffff;
     display: flex;
     align-items: center;
     // box-shadow: 1px 2px 7px gray;
     border-radius: 30px;
     padding: 10px 47px 10px 10px;
     margin-bottom: 10px
     ;
    }
    
    .btn-primary1:hover{
        background-color: #ee7837;
        color: black;
    }
    
    .btn-primary3:hover{
     background-color: #ee7837;
     color: black;
    }
     
  }
}
    .container{
        display: flex;
        gap: 20px;
        width: 960px;
        // margin-inline: auto;

        .left-part{
            flex: 2;
            width: 50%;
        }
        .right-part{
            flex: 1;
            margin-top: 20px;

            .profile-card{
                border: 1px solid var(--border-color);
                border-radius: 4px;
                .user-img-name{
                    display: flex;

                    .user-name{
                        margin-block: auto;
                    }
                }

                .user-img{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    padding: 10px;
                }
                .user-name{
                    margin: 12px;
                }
                .follower-info{
                    margin: 12px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-bottom: 20px;


                    .followers{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                    }
                    .following{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                    }
                }

            }
            .profile-buttons{
                margin-bottom: 10px;
                display: flex;
                justify-content: center;

                .follow{
                    padding: 5px 10px;
                }
                .btn-primary{
                    padding: 5px 10px;
                }
                .btn-secondary{
                    padding: 5px 10px;
                    
                }
                .btn-secondary:hover{
                    color: white;
                    background-color: var(--button-color);
                }
            }

        }
    }
}