.Navbar{
    height: 60px;
    border-bottom: 1px solid blue;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aqua;
       
        .right-side{
            display: flex;
            align-items: center;
            gap: 20px;
            
            .profile{
            cursor: pointer;
        }
        .logOut{
            
            .logOut-button{
                // height: 50px;
                // // width: 50px;
                font-size: 30px;
                border-radius: 50%;
                background-color: whitesmoke;
            }
        }
        }
        
    }
}