.Navbar{
    z-index: 4;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    
    .container1{
        width: 70%;
        margin-inline: auto;
        padding-inline: 50px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ee7837;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
       
        .right-side{
            display: flex;
            align-items: center;
            gap: 20px;
            
            .profile{
            cursor: pointer;
        }
        .logOut{
            
            .logOut-button{
                // height: 50px;
                // // width: 50px;
                font-size: 30px;
                border-radius: 50%;
                background-color: whitesmoke;
            }
        }
        }
        
    }
}