
.edit-delete{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
#updateBeforeImg{
    border: 2px dashed black;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
}
#updateAfterImg{
border-radius: 10px;
}
#updateInput{
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 20px;
    outline: none;
}
.PostProfile{
    border: 2px solid var(--border-color);
    margin-top: 20px;
    border-radius: 10px;
    background-color: #b2bec3;
    
    .headingProfilePost{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        height: 60px;
        padding: 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        cursor: pointer;
        background-color: #263238;

       .header-details{
        display: flex;
        align-items: center;
        gap: 20px;
           .userImg{
               width: 60px;
               height: 60px;
               img{
                   border-radius: 50%;
                   width: 100%;
                   height: 100%;
               }
           }
           
           
           .userName{
               color: #ecf0f1;
           }
       } 
    }
    .contentProfilePost{
        height: 400px;
        width: 500px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .footerProfilePost{display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #263238;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
          
        .likes-comments{
            display: flex;
            
            .likes{
                display: flex;
                align-items: center;
                gap: 3px;
                margin: 0;
                
                .Icon{
                    font-size: 1.7rem;
                }
                .likes-text{
                    color: white;
                }
            }
            .comments{
                margin-left: 10px;
                display: flex;
                align-items: center;
                gap: 5px;
                margin: 0;
                .commentsIcon{
                    font-size: 1.5rem;
                }
                .comments-text{
                    color: white;
                }
            }
        }
            .caption{
                margin: 12px;
                color: #dfe6e9;

                .userName-caption{
                    color: white;
                    font-weight: 600;
                }
             }

             .caption-time{
                margin: 12px;
                color: #aaa;
             }
    }
        }
    
            #openComments{
            //    height: 100px;
               width: 100%;
               background-color: white;
    
               .commentsInput{
                margin-top: 10px;
                border-left: none;
                border-top: none;
                border-right: none;
                width: 100%;
                outline: none;
               }
        }
        .allComments::-webkit-scrollbar{
            display: none;
        }

        
@media only screen and (max-width: 500px) {

    .PostProfile {
        .headingProfilePost {
            .userImg {
                width: 40px;
                height: 40px;

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
            .userName{
                font-size: small;
            }
        }

        .contentProfilePost {
            height: 300px;
            width: 400px;
        }
        .footerProfilePost{
            .likes-comments{
                .likes{
                    .Icon{
                       font-size: 1.3rem; 
                    }
                }
                .comments{
                    .commentsIcon{
                        font-size: 1.1rem;
                    }
                }
            }
            .caption{
                font-size: 0.7rem;
                .userName-caption{
                    font-weight: 600;
                    font-size: 0.9rem;
                }
            }
        }
    }

}
@media only screen and (max-width: 400px) {

    .PostProfile {
        .contentProfilePost {
            height: 200px;
            width: 320px;
        }
    }

}

@media only screen and (max-width: 320px) {

    .PostProfile {
        .contentProfilePost {
            height: 160px;
            width: 280px;
        }
    }

}