*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
.Login {
    background-color: #ee7837;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    img{
        height: 500px;
        // user-select: none;
        
    }

    .log-in-box{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        box-shadow: 0 2px 10px;
        border-radius: 10px;

        .user{
            width: 50px;
            height: 50px;
            padding: 20px;
        }
        .heading{
            margin-bottom: 30px;
        }
        .log-in-form {
            display: flex;
            flex-direction: column;
            position: relative;

            .email{
                width: 270px;
                padding-block: 7px;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-left: 10px;
                outline: none;
                margin-bottom: 30px;
                
            }
            .password{
                width: 270px;
                padding-block: 7px;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-left: 10px;
                outline: none;
                margin-bottom: 20px;
                

            }
            .submit{
                margin: 10px auto;
                margin-bottom: 20px;
            }
            .submit:hover{
                background-color: #455a64;
            }
            .FaRegEye{
                position: absolute;
                top: 70px;
                right: 5px;
                cursor: pointer;
            }
        }
        .signupLink{
            margin-bottom: 10px;
            padding-bottom: 20px;

            .linkToSignUp{
                text-decoration: none;
            }
        }
    }
}
.custom-shape-divider-top-1695467425 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-top-1695467425 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-top-1695467425 .shape-fill {
    fill: #263238;
}

@media (max-width: 900px) {
    .custom-shape-divider-top-1695467425 svg{
        // display: none;
        width: 150%;
    }

    .Login{
        flex-direction: column;
    }

}
@media (max-width: 767px) {
    .custom-shape-divider-top-1695467425{
        display: none;
    }
    .Login{
                flex-direction: column;
                justify-content: flex-end;
        
                .log-in-box{
                    border-top-left-radius: 50%  20%;
                    border-top-right-radius: 50% 20%;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    z-index: 4;
                    width: 100%;
                    bottom: 0;  
                    
                    
                }
                
                .b-ground{
        
                    img{
                        height: 350px;
                        // margin-top: 40%;
                    }
                }
            }
}
@media (max-width: 400px){
    .Login{

        .b-ground{

        img{
             height: 200px;
            //  margin-top: 20%;
            
                                    
        }
    }
    }
}
